
.row{
    align-content: center;
    display:flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.card{
background-color: white;
 border: 1px #000 solid;   
 width: 200px;
 height: 200px;
 border-bottom: red 2px solid;
}
.card2{
     background-color: white;
     border: 1px #000 solid;   
     width: 200px;
     height: 200px;
     border-bottom: rgb(225, 0, 255) 2px solid;
    }
    
.card3{
    background-color: white;
    border: 1px #000 solid;   
    width: 200px;
    height: 200px;
    border-bottom: rgb(0, 255, 170) 2px solid;
    }
